@charset 'UTF-8';
/** Graph Viewport */
.bkg-viewport {
    background-image: url(../img/bg.jpg);
    background-size: 100% 100%;
    position: relative;
    font-family: "Microsoft YaHei";
    overflow: hidden;

    a {
        color: white;
    }

    ul {
        margin: 0px;
        padding: 0px;
    }

    li {
        list-style: none;
    }
}

.bkg-graph {
    position: absolute;
    right: 0px;
    top: 0px;
    bottom: 0px;

    -webkit-transition: right 0.5s ease-in-out;
       -moz-transition: right 0.5s ease-in-out;
        -ms-transition: right 0.5s ease-in-out;
         -o-transition: right 0.5s ease-in-out;
            transition: right 0.5s ease-in-out;
}

/** 搜索栏 */
.bkg-searchbar {
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 0px;
    height: 100px;
    
    background-image: url(../img/searchbar/search-bg.png);

    -webkit-transition: bottom .5s cubic-bezier(0.23, 1, 0.32, 1);
       -moz-transition: bottom .5s cubic-bezier(0.23, 1, 0.32, 1);
        -ms-transition: bottom .5s cubic-bezier(0.23, 1, 0.32, 1);
         -o-transition: bottom .5s cubic-bezier(0.23, 1, 0.32, 1);
            transition: bottom .5s cubic-bezier(0.23, 1, 0.32, 1);

    &.hidden {
        bottom: -95px;
    }

    h3 {
        color: white;
        font-weight: normal;
        font-size: 14px;
        margin: 10px 0px 10px 40px;
    }

    .bkg-search-input {
        
        margin-left: 30px;

        input {
            border: none;
            height: 37px;
            width: 250px;
            border-radius: 15px;
            outline: none;
            font-size: 14px;
            padding-left: 15px;

            float: left;
        }

        .bkg-search-btn {
            margin-left: -63px;
            width: 60px;
            height: 33px;
            background-color: #0E90FE;
            border-radius: 15px;
            float: left;
            margin-top: 3px;

            background-image: url(../img/searchbar/search-icon.png);
            background-repeat: no-repeat;
            background-position: 50% 50%;
        }
    }

    .bkg-toggle {
        width: 143px;
        height: 32px;
        position: absolute;
        right: 50px;
        top: -32px;
        color: white;

        background-image: url(../img/searchbar/toggle-btn.png);

        text-align: center;
        font-size: 18px;
        line-height: 34px;

        cursor: pointer;
    }

    .bkg-person-list {
        position: absolute;
        left: 320px;
        top: 0px;
        right: 0px;
        bottom: 0px;

        .bkg-person-list-viewport {
            position: absolute;
            overflow: hidden;
            left: 50px;
            top: 0px;
            right: 50px;
            bottom: 0px;
        }

        .bkg-prev-page {
            position: absolute;
            left: 0px;
            top: 30px;
            width: 25px;
            height: 43px;
            background-image: url(../img/searchbar/prev.png);
            cursor: pointer;

            &:hover {
                background-image: url(../img/searchbar/prev-hover.png);
            }

            &.disable {
                cursor: default;
                background-image: url(../img/searchbar/prev-disable.png);

                &:hover {
                    background-image: url(../img/searchbar/prev-disable.png);
                }
            }
        }

        .bkg-next-page {
            position: absolute;
            right: 10px;
            top: 30px;
            width: 25px;
            height: 43px;
            background-image: url(../img/searchbar/next.png);
            cursor: pointer;

            &:hover {
                background-image: url(../img/searchbar/next-hover.png);
            }
            &.disable {
                cursor: default;
                background-image: url(../img/searchbar/next-disable.png);

                &:hover {
                    background-image: url(../img/searchbar/next-disable.png);
                }
            }
        }

        ul {
            margin: 7px 0px 0px 0px;
            height: 85px;
            position: absolute;
            left: 0px;
            top: 0px;
            /** 图片不换行 */
            white-space: nowrap;

            -webkit-transition: left 0.5s ease-in-out;
               -moz-transition: left 0.5s ease-in-out;
                -ms-transition: left 0.5s ease-in-out;
                 -o-transition: left 0.5s ease-in-out;
                    transition: left 0.5s ease-in-out;
        }
        li.bkg-person {
            display: inline-block;
            overflow: hidden;
            position: relative;

            width: 85px;
            height: 85px;

            margin-left: 1px;

            img {
                border-radius: 5px;
                width: 85px;
                cursor: pointer;
            }

            h5 {
                margin: 0px;
                position: absolute;
                bottom: 0px;
                left: 0px;
                right: 0px;
                height: 25px;
                line-height: 25px;
                color: white;
                text-align: center;
                background-color: black;
                opacity: 0.8;
                font-weight: normal;
            }
        }
    }
}

/** 边栏 */
.bkg-sidebar {
    position: absolute;
    left: 0px;
    top: 0px;
    bottom: 0px;
    width: 340px;
    background-color: #0d4075;
    
    -webkit-transition: left 0.5s ease-in-out;
       -moz-transition: left 0.5s ease-in-out;
        -ms-transition: left 0.5s ease-in-out;
         -o-transition: left 0.5s ease-in-out;
            transition: left 0.5s ease-in-out;

    font-size: 12px;
    line-height: 19px;

    a {
        color: #0595ce;
        text-decoration: none;
        padding: 1px 3px;

        &:hover {
            background-color: #0595ce;
            color: white;
            border-radius: 3px;
        }
    }

    p {
        padding: 0px;
        margin: 0px;
    }

    &.hidden {
        left: -335px;
    }

    .bkg-sidebar-module {

        margin-top: 20px;

        h4.bkg-title {
            color: #9bd1fe;
            margin: 8px 10px;
            font-size: 16px;

            padding-left: 28px;
            background-repeat: no-repeat;
            background-position: 0px 50%;
            line-height: 30px;
        }
    }
    
    .bkg-entity-detail {
        overflow-x: hidden;

        height: 100%;

        .bkg-person-pic {
            width: 100px;
            margin-left: 10px;
            margin-top: 30px;

            float: left;
        }

        .bkg-person-info {
            
            float: left;
            margin-top: 30px;
            margin-left: 10px;
            width: 190px;

            h4 {
                color: #9bd1fe;
                margin: 0px;
            }

            p {
                color: white;
                margin: 4px 0px;
            }
        }
    
        .bkg-person-news {
        
            h4 {
                background-image: url(../img/sidebar/news.png);
            }

            li {
                
                color: white;

                h5 {
                    color: white;
                    font-weight: normal;
                    margin: 0px;
                }

                img.bkg-news-pic {
                    float: left;
                    width: 100px;
                    margin-left: 10px;
                }

                .bkg-news-detail {
                    float: left;
                    margin-left: 10px;
                    width: 190px;

                    .bkg-news-source {
                        margin-top: 5px;
                    }
                    .bkg-news-publish-time {
                        margin-left: 10px;
                    }
                }

                .bkg-news-publish-time {
                    color: #02c0fe;
                }

                .bkg-news-simple {
                    margin-left: 15px;
                    margin-top: 10px;

                    .bkg-news-title {
                        width: 130px;
                        display: inline-block;
                    }

                    .bkg-news-publish-time {
                        float: right;
                        margin-right: 20px;
                    }
                }
            }
        }

        .bkg-person-weibo {
            h4 {
                background-image: url(../img/sidebar/weibo.png);
            }

            h5 {
                color: white;
            }

            .bkg-weibo-info {
                margin-left: 10px;
            }

            p {
                font-size: 12px;
                color: white;
            }
        }
    }


    .bkg-toggle {
        width: 20px;
        height: 84px;
        position: absolute;
        right: -19px;
        top: 50%;
        margin-top: -42px;
        background-image: url(../img/sidebar/toggle-btn.png);

        cursor: pointer;
        color: white;

        font-size: 12px;
        padding-top: 20px;
        text-align: center;

        box-sizing: border-box;
    }
}

/** 顶栏 */
.bkg-headerbar {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    height: 55px;
    background-image: url(../img/searchbar/search-bg.png);
    
    color: white;

    @headerbar-height: 55px;

    h1 {
        position: absolute;
        left: 30px;
        line-height: @headerbar-height;
        margin: 0px;

        font-size: 20px;
    }

    .bkg-explore-percent {
        position: absolute;
        right: 100px;
        line-height: @headerbar-height;
        height: @headerbar-height;

        font-size: 14px;

        .bkg-explore-percent-bar { 
            display: inline-block;
            width: 700px;
            height: 5px;
            margin-top: @headerbar-height - 30;
            border-radius: 4px;
            background-color: #86c4f9;
            position: relative;

            .bkg-explore-percent-bar-inner {
                width: 0px;
                height: 100%;
                border-radius: 4px;
                background-color: white;
                float: left;

                -webkit-transition: width 0.5s ease-in-out;
                   -moz-transition: width 0.5s ease-in-out;
                    -ms-transition: width 0.5s ease-in-out;
                     -o-transition: width 0.5s ease-in-out;
                        transition: width 0.5s ease-in-out;
            }
        }
    }
    
    .bkg-milestone {
        position: absolute;
        top: -2px;
        width: 8px;
        height: 8px;
        border-radius: 10px;
        background-color: white;
    }

    .bkg-level {
        position: absolute;
        top: 0px;
        bottom: 0px;
    }

    .bkg-level-icon {
        width: 100%;
        top: 5px;
        height: 28px;
        background-position: 50% 50%;
        background-repeat: no-repeat;
    }

    .bkg-level-title {
        position: absolute;
        width: 100%;
        bottom: 3px;
        color: #78bdf5;
        font-size: 12px;
        text-align: center;
        height: 20px;
        line-height: 20px;
    }

    .bkg-level.bkg-active {
        .bkg-level-title {
            color: #ffffff;
        }
    }

    .bkg-level-0 .bkg-level-icon {
        background-image: url('../img/headerbar/僵尸粉2.png');
    }
    .bkg-level-0.bkg-active .bkg-level-icon {
        background-image: url('../img/headerbar/僵尸粉1.png');
    }
    .bkg-level-1 .bkg-level-icon {
        background-image: url('../img/headerbar/初级粉2.png');
    }
    .bkg-level-1.bkg-active .bkg-level-icon {
        background-image: url('../img/headerbar/初级粉1.png');
    }
    .bkg-level-2 .bkg-level-icon {
        background-image: url('../img/headerbar/中级粉2.png');
    }
    .bkg-level-2.bkg-active .bkg-level-icon {
        background-image: url('../img/headerbar/中级粉1.png');
    }
    .bkg-level-3 .bkg-level-icon {
        background-image: url('../img/headerbar/高级粉2.png');
    }
    .bkg-level-3.bkg-active .bkg-level-icon {
        background-image: url('../img/headerbar/高级粉1.png');
    }
    .bkg-level-4 .bkg-level-icon {
        background-image: url('../img/headerbar/顶级粉2.png');
    }
    .bkg-level-4.bkg-active .bkg-level-icon {
        background-image: url('../img/headerbar/顶级粉1.png');
    }
    .bkg-level-5 .bkg-level-icon {
        background-image: url('../img/headerbar/私生粉2.png');
    }
    .bkg-level-5.bkg-active .bkg-level-icon {
        background-image: url('../img/headerbar/私生粉1.png');
    }
}