@charset 'UTF-8';
/** Graph Viewport */
.bkg-viewport {
  position: relative;
  font-family: arial, 'Hiragino Sans GB', 'Microsoft Yahei', '微软雅黑', '宋体', Tahoma, Arial, Helvetica, STHeiti;
  overflow: hidden;
  background-image: url(../img/bg.png);
  background-size: 1px 100%;
  background-repeat: repeat;
}
.bkg-viewport a {
  color: white;
}
.bkg-viewport ul,
.bkg-viewport li {
  margin: 0px;
  padding: 0px;
}
.bkg-viewport li {
  list-style: none;
}
.bkg-viewport:focus {
  outline: none;
}
.bkg-bg-layer {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 5000px;
  height: 5000px;
}
.bkg-graph {
  position: absolute;
  left: 0px;
  top: 0px;
  bottom: 0px;
  -webkit-transition: left 0.5s cubic-bezier(0.23, 1, 0.32, 1);
  -moz-transition: left 0.5s cubic-bezier(0.23, 1, 0.32, 1);
  -ms-transition: left 0.5s cubic-bezier(0.23, 1, 0.32, 1);
  -o-transition: left 0.5s cubic-bezier(0.23, 1, 0.32, 1);
  transition: left 0.5s cubic-bezier(0.23, 1, 0.32, 1);
}
.bkg-graph .bkg-graph-zr {
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}
.bkg-graph .bkg-graph-bg {
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}
.bkg-graph .bkg-graph-bg .bkg-bg-layer {
  background-image: url(../img/star.png);
  opacity: 0.5;
}
/** 搜索栏 */
.bkg-searchbar {
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 0px;
  height: 100px;
  z-index: 1;
  background-image: url(../img/searchbar/search-bg.png);
  -webkit-transition: bottom 0.5s cubic-bezier(0.23, 1, 0.32, 1);
  -moz-transition: bottom 0.5s cubic-bezier(0.23, 1, 0.32, 1);
  -ms-transition: bottom 0.5s cubic-bezier(0.23, 1, 0.32, 1);
  -o-transition: bottom 0.5s cubic-bezier(0.23, 1, 0.32, 1);
  transition: bottom 0.5s cubic-bezier(0.23, 1, 0.32, 1);
}
.bkg-searchbar.hidden {
  bottom: -95px;
}
.bkg-searchbar.hidden .bkg-toggle .arrow {
  background-image: url(../img/searchbar/arrow-hidden.png);
}
.bkg-searchbar h3 {
  color: white;
  font-weight: normal;
  font-size: 14px;
  margin: 10px 0px 10px 40px;
}
.bkg-searchbar .bkg-search-input {
  margin-left: 30px;
}
.bkg-searchbar .bkg-search-input input {
  border: none;
  height: 37px;
  width: 250px;
  border-radius: 15px;
  outline: none;
  font-size: 14px;
  padding-left: 15px;
  float: left;
  line-height: 37px;
}
.bkg-searchbar .bkg-search-input .bkg-search-btn {
  margin-left: -63px;
  width: 60px;
  height: 33px;
  background-color: #0E90FE;
  border-radius: 15px;
  float: left;
  margin-top: 3px;
  background-image: url(../img/searchbar/search-icon.png);
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
.bkg-searchbar .bkg-toggle {
  width: 106px;
  height: 32px;
  position: absolute;
  left: 50px;
  top: -32px;
  color: white;
  background-image: url(../img/searchbar/toggle-btn.png);
  text-align: center;
  font-size: 16px;
  line-height: 34px;
  cursor: pointer;
}
.bkg-searchbar .bkg-toggle .arrow {
  display: inline-block;
  margin-left: 6px;
  width: 18px;
  height: 11px;
  background-image: url(../img/searchbar/arrow-search.png);
}
.bkg-searchbar .bkg-person-list {
  position: absolute;
  left: 320px;
  top: 0px;
  right: 0px;
  bottom: 0px;
}
.bkg-searchbar .bkg-person-list .bkg-person-list-viewport {
  position: absolute;
  overflow: hidden;
  left: 50px;
  top: 0px;
  right: 50px;
  bottom: 0px;
}
.bkg-searchbar .bkg-person-list .bkg-prev-page {
  position: absolute;
  left: 0px;
  top: 30px;
  width: 25px;
  height: 43px;
  background-image: url(../img/searchbar/prev.png);
  cursor: pointer;
}
.bkg-searchbar .bkg-person-list .bkg-prev-page:hover {
  background-image: url(../img/searchbar/prev-hover.png);
}
.bkg-searchbar .bkg-person-list .bkg-prev-page.disable {
  cursor: default;
  background-image: url(../img/searchbar/prev-disable.png);
}
.bkg-searchbar .bkg-person-list .bkg-prev-page.disable:hover {
  background-image: url(../img/searchbar/prev-disable.png);
}
.bkg-searchbar .bkg-person-list .bkg-next-page {
  position: absolute;
  right: 10px;
  top: 30px;
  width: 25px;
  height: 43px;
  background-image: url(../img/searchbar/next.png);
  cursor: pointer;
}
.bkg-searchbar .bkg-person-list .bkg-next-page:hover {
  background-image: url(../img/searchbar/next-hover.png);
}
.bkg-searchbar .bkg-person-list .bkg-next-page.disable {
  cursor: default;
  background-image: url(../img/searchbar/next-disable.png);
}
.bkg-searchbar .bkg-person-list .bkg-next-page.disable:hover {
  background-image: url(../img/searchbar/next-disable.png);
}
.bkg-searchbar .bkg-person-list ul {
  margin: 7px 0px 0px 0px;
  height: 85px;
  position: absolute;
  left: 0px;
  top: 0px;
  /** 图片不换行 */
  white-space: nowrap;
  -webkit-transition: left 0.5s ease-in-out;
  -moz-transition: left 0.5s ease-in-out;
  -ms-transition: left 0.5s ease-in-out;
  -o-transition: left 0.5s ease-in-out;
  transition: left 0.5s ease-in-out;
}
.bkg-searchbar .bkg-person-list li.bkg-person {
  display: inline-block;
  overflow: hidden;
  position: relative;
  box-sizing: border-box;
  border-radius: 5px;
  width: 85px;
  height: 85px;
  margin-left: 1px;
}
.bkg-searchbar .bkg-person-list li.bkg-person img {
  width: 85px;
  cursor: pointer;
}
.bkg-searchbar .bkg-person-list li.bkg-person h5 {
  margin: 0px;
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
  height: 25px;
  line-height: 25px;
  color: white;
  text-align: center;
  background-color: black;
  opacity: 0.8;
  font-weight: normal;
}
.bkg-searchbar .bkg-person-list li.bkg-person.active {
  border: 2px solid #fadf00;
}
.bkg-searchbar .bkg-person-list li.bkg-person.active h5 {
  color: #000;
  background-color: #fadf00;
  opacity: 0.65;
}
.bkg-searchbar .bkg-person-list li.bkg-empty {
  height: 85px;
  line-height: 85px;
  color: white;
}
/** 边栏 */
.bkg-sidebar {
  position: absolute;
  right: 0px;
  top: 0px;
  bottom: 0px;
  z-index: 0;
  width: 338px;
  background-color: #053669;
  color: white;
  -webkit-transition: left 0.5s cubic-bezier(0.23, 1, 0.32, 1);
  -moz-transition: left 0.5s cubic-bezier(0.23, 1, 0.32, 1);
  -ms-transition: left 0.5s cubic-bezier(0.23, 1, 0.32, 1);
  -o-transition: left 0.5s cubic-bezier(0.23, 1, 0.32, 1);
  transition: left 0.5s cubic-bezier(0.23, 1, 0.32, 1);
  font-size: 13px;
  line-height: 21px;
  /**人物基本信息模块**/
  /******* 微博模块 ***********/
  /******* 新闻和脉络、贴吧、文字模块 ***********/
  /******* 新闻模块 ***********/
  /******* 关系脉络 ***********/
  /** 作品模块 */
  /** 贴吧模块 */
  /** 视频模块 */
  /** ranking */
}
.bkg-sidebar .bkg-sidebar-viewport {
  box-sizing: border-box;
}
.bkg-sidebar .bkg-sidebar-content {
  width: 100%;
}
.bkg-sidebar a {
  color: #02c0fe;
  text-decoration: none;
  padding: 0 3px;
  line-height: 15px;
}
.bkg-sidebar a:hover {
  background-color: #02c0fe;
  color: white;
  border-radius: 3px;
}
.bkg-sidebar p {
  padding: 0px;
  margin: 0px;
}
.bkg-sidebar.hidden {
  right: -338px;
}
.bkg-sidebar .bkg-entity-detail-title {
  margin-right: 17px;
  border-top: 1px solid #1c7bcc;
  text-align: center;
}
.bkg-sidebar .bkg-entity-detail-title h3 {
  position: relative;
  top: -11px;
  color: #fff;
  background-color: #053669;
  font-size: 20px;
  display: inline-block;
  padding: 0px 20px;
  margin: 0px;
  line-height: 22px;
  font-weight: normal;
}
.bkg-sidebar .bkg-sidebar-viewport {
  width: 100%;
  height: 100%;
}
.bkg-sidebar .bkg-sidebar-module {
  margin-bottom: 21px;
  margin-right: 17px;
  padding-left: 10px;
  box-sizing: border-box;
}
.bkg-sidebar .bkg-sidebar-module .bkg-module-title {
  margin: 0 0 4px -11px;
}
.bkg-sidebar .bkg-sidebar-module .bkg-module-title .bkg-circle {
  width: 10px;
  height: 10px;
  border-radius: 5px;
  margin-left: -5px;
  display: inline-block;
  background-color: #0e90fe;
}
.bkg-sidebar .bkg-sidebar-module .bkg-module-title h4 {
  color: #02c0fe;
  font-size: 16px;
  display: inline-block;
  line-height: 30px;
  margin: 0;
  font-weight: normal;
}
.bkg-sidebar .bkg-sidebar-module .bkg-module-title a {
  color: #02c0fe;
  text-decoration: underline;
}
.bkg-sidebar .bkg-sidebar-module .bkg-module-title a:hover {
  background: transparent;
  color: #02c0fe;
}
.bkg-sidebar .bkg-entity-detail,
.bkg-sidebar .bkg-relation-detail {
  margin: 29px 0 30px 10px;
  border-left: 1px solid #1c7bcc;
  position: relative;
}
.bkg-sidebar .bkg-entity-detail .bkg-taglist,
.bkg-sidebar .bkg-relation-detail .bkg-taglist {
  margin-top: 18px;
}
.bkg-sidebar .bkg-entity-detail .bkg-taglist .bkg-tags,
.bkg-sidebar .bkg-relation-detail .bkg-taglist .bkg-tags {
  margin-bottom: 10px;
  padding-left: 10px;
  padding-right: 17px;
}
.bkg-sidebar .bkg-entity-detail .bkg-taglist .bkg-tags .bkg-tag-title,
.bkg-sidebar .bkg-relation-detail .bkg-taglist .bkg-tags .bkg-tag-title {
  font-size: 16px;
  line-height: 34px;
}
.bkg-sidebar .bkg-entity-detail .bkg-taglist .bkg-tags a,
.bkg-sidebar .bkg-relation-detail .bkg-taglist .bkg-tags a {
  border-radius: 4px;
  padding: 3px 5px;
  line-height: 30px;
  background-color: #0b71ca;
  color: #fff;
}
.bkg-sidebar .bkg-entity-detail .bkg-taglist .bkg-tags a:hover,
.bkg-sidebar .bkg-relation-detail .bkg-taglist .bkg-tags a:hover {
  background-color: #06437f;
}
.bkg-sidebar .bkg-entity-detail .bkg-taglist .bkg-tags-highlight,
.bkg-sidebar .bkg-relation-detail .bkg-taglist .bkg-tags-highlight {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #085196;
}
.bkg-sidebar .bkg-detail-bottom {
  clear: both;
  height: 0px;
}
.bkg-sidebar .bkg-detail-bottom-line {
  width: 7px;
  height: 1px;
  background-color: #1c7bcc;
  position: absolute;
  bottom: 0px;
}
.bkg-sidebar .bkg-person-info .bkg-person-pic {
  padding: 0;
  width: 91px;
  height: 124px;
  float: left;
}
.bkg-sidebar .bkg-person-info .bkg-person-pic img {
  width: 91px;
  height: 124px;
}
.bkg-sidebar .bkg-person-info .bkg-person-description {
  margin-left: 102px;
}
.bkg-sidebar .bkg-person-info .bkg-person-description p {
  /* margin: 4px 0px; */
}
.bkg-sidebar .bkg-relation-detail {
  /** 投票 */
}
.bkg-sidebar .bkg-relation-detail .bkg-relation-info {
  position: relative;
  /*没有关系摘要的暂时替代方案*/
  margin-bottom: 15px;
}
.bkg-sidebar .bkg-relation-detail .bkg-relation-info img {
  width: 91px;
  height: 124px;
}
.bkg-sidebar .bkg-relation-detail .bkg-relation-info h5 {
  text-align: center;
  margin: 0px;
  font-weight: normal;
  font-size: 13px;
  height: 21px;
  line-height: 21px;
  background-color: #000;
  opacity: 0.65;
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 0px;
}
.bkg-sidebar .bkg-relation-detail .bkg-relation-info .bkg-relation-entity {
  position: relative;
}
.bkg-sidebar .bkg-relation-detail .bkg-relation-info .bkg-relation-entity .bkg-relation-entity-from,
.bkg-sidebar .bkg-relation-detail .bkg-relation-info .bkg-relation-entity .bkg-relation-entity-to {
  position: relative;
  height: 124px;
  width: 91px;
}
.bkg-sidebar .bkg-relation-detail .bkg-relation-info .bkg-relation-entity .bkg-relation-entity-from a,
.bkg-sidebar .bkg-relation-detail .bkg-relation-info .bkg-relation-entity .bkg-relation-entity-to a {
  display: inline-block;
  padding: 0;
  width: 91px;
  height: 124px;
  color: #fff;
}
.bkg-sidebar .bkg-relation-detail .bkg-relation-info .bkg-relation-entity .bkg-relation-entity-from a img,
.bkg-sidebar .bkg-relation-detail .bkg-relation-info .bkg-relation-entity .bkg-relation-entity-to a img {
  border: none;
  width: 91px;
  height: 124px;
}
.bkg-sidebar .bkg-relation-detail .bkg-relation-info .bkg-relation-entity .bkg-relation-entity-from {
  float: left;
}
.bkg-sidebar .bkg-relation-detail .bkg-relation-info .bkg-relation-entity .bkg-relation-entity-to {
  float: right;
}
.bkg-sidebar .bkg-relation-detail .bkg-relation-info .bkg-relation-entity .bkg-relation-name {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 80px;
  height: 4px;
  margin-left: -40px;
  border-radius: 3px;
  background-color: #0e90fe;
  text-align: center;
}
.bkg-sidebar .bkg-relation-detail .bkg-relation-info .bkg-relation-entity .bkg-relation-name a {
  position: relative;
  top: -24px;
  color: #fff;
  font-size: 13px;
  display: inline-block;
  line-height: 14px;
}
.bkg-sidebar .bkg-relation-detail .bkg-relation-info .bkg-relation-entity .bkg-relation-name a:hover {
  background: transparent;
  color: #fff;
  text-decoration: underline;
}
.bkg-sidebar .bkg-relation-detail .bkg-relation-info .bkg-relation-description {
  margin-top: 12px;
}
.bkg-sidebar .bkg-relation-detail .bkg-relation-info .bkg-relation-description p {
  color: #97cdfa;
}
.bkg-sidebar .bkg-relation-detail .bkg-relation-vote {
  padding-left: 10px;
  margin-bottom: 10px;
}
.bkg-sidebar .bkg-relation-detail .bkg-relation-vote .bkg-relation-ranking {
  margin: 10px;
}
.bkg-sidebar .bkg-relation-detail .bkg-relation-vote .bkg-relation-ranking .bkg-left {
  float: left;
}
.bkg-sidebar .bkg-relation-detail .bkg-relation-vote .bkg-relation-ranking .bkg-right {
  float: right;
}
.bkg-sidebar .bkg-relation-detail .bkg-relation-vote .bkg-relation-voting .bkg-vote-icon {
  cursor: pointer;
  margin: 0 5px;
  width: 30px;
  height: 30px;
  background: url(../img/sidebar/vote.gif) no-repeat 0 -37px;
}
.bkg-sidebar .bkg-relation-detail .bkg-relation-vote .bkg-relation-voting .bkg-left {
  float: left;
  background-color: #ee4f4f;
}
.bkg-sidebar .bkg-relation-detail .bkg-relation-vote .bkg-relation-voting .bkg-left .bkg-vote-icon {
  float: left;
}
.bkg-sidebar .bkg-relation-detail .bkg-relation-vote .bkg-relation-voting .bkg-left .bkg-vote-icon.disable {
  background-position: 0 -74px;
}
.bkg-sidebar .bkg-relation-detail .bkg-relation-vote .bkg-relation-voting .bkg-right {
  float: right;
}
.bkg-sidebar .bkg-relation-detail .bkg-relation-vote .bkg-relation-voting .bkg-right .bkg-vote-icon {
  float: right;
  background-position: 0 -111px;
}
.bkg-sidebar .bkg-relation-detail .bkg-relation-vote .bkg-relation-voting .bkg-right .bkg-vote-icon.disable {
  background-position: 0 -148px;
}
.bkg-sidebar .bkg-relation-detail .bkg-relation-vote .bkg-relation-pk-wrapper .bkg-relation-pk-voting {
  height: 33px;
  position: relative;
  background: #489bdc;
}
.bkg-sidebar .bkg-relation-detail .bkg-relation-vote .bkg-relation-pk-wrapper .bkg-relation-pk-voting .bkg-relation-pk-bg {
  background: #ee4f4f;
  height: 33px;
  width: 50%;
}
.bkg-sidebar .bkg-relation-detail .bkg-relation-vote .bkg-relation-pk-wrapper .bkg-relation-pk-voting .bkg-vote-icon {
  cursor: pointer;
  background: url(../img/sidebar/vote.gif) no-repeat 0 -37px;
  height: 33px;
  width: 31px;
  line-height: 33px;
  float: left;
}
.bkg-sidebar .bkg-relation-detail .bkg-relation-vote .bkg-relation-pk-wrapper .bkg-relation-pk-voting .bkg-relation-pk-num {
  float: left;
  height: 33px;
  line-height: 33px;
  color: #fff;
  text-decoration: none;
  width: 60px;
  position: relative;
  z-index: 20;
}
.bkg-sidebar .bkg-relation-detail .bkg-relation-vote .bkg-relation-pk-wrapper .bkg-relation-pk-voting .bkg-relation-pk-vl {
  position: absolute;
  left: 0;
  top: 0;
}
.bkg-sidebar .bkg-relation-detail .bkg-relation-vote .bkg-relation-pk-wrapper .bkg-relation-pk-voting .bkg-relation-pk-vl .bkg-vote-icon {
  background-position: 0 -37px;
}
.bkg-sidebar .bkg-relation-detail .bkg-relation-vote .bkg-relation-pk-wrapper .bkg-relation-pk-voting .bkg-relation-pk-vl .bkg-vote-icon.disable {
  cursor: auto;
  background-position: 0 -74px;
}
.bkg-sidebar .bkg-relation-detail .bkg-relation-vote .bkg-relation-pk-wrapper .bkg-relation-pk-voting .bkg-relation-pk-vl .bkg-relation-pk-leftnum {
  overflow: hidden;
  padding-left: 10px;
}
.bkg-sidebar .bkg-relation-detail .bkg-relation-vote .bkg-relation-pk-wrapper .bkg-relation-pk-voting .bkg-relation-pk-vr {
  position: absolute;
  right: 0;
  top: 0;
}
.bkg-sidebar .bkg-relation-detail .bkg-relation-vote .bkg-relation-pk-wrapper .bkg-relation-pk-voting .bkg-relation-pk-vr .bkg-vote-icon {
  background-position: 0 -111px;
}
.bkg-sidebar .bkg-relation-detail .bkg-relation-vote .bkg-relation-pk-wrapper .bkg-relation-pk-voting .bkg-relation-pk-vr .bkg-vote-icon.disable {
  cursor: auto;
  background-position: 0 -148px;
}
.bkg-sidebar .bkg-relation-detail .bkg-relation-vote .bkg-relation-pk-wrapper .bkg-relation-pk-voting .bkg-relation-pk-vr .bkg-relation-pk-rightnum {
  padding-right: 10px;
  text-align: right;
}
.bkg-sidebar .bkg-relation-detail .bkg-relation-vote .bkg-relation-pk-wrapper .bkg-relation-pk-voting .bkg-relation-pk-active {
  width: 10px;
  height: 33px;
  position: absolute;
  left: 50%;
  top: 0;
  margin-left: -5px;
  background-position: 0 0;
}
.bkg-sidebar .bkg-weibo {
  margin-bottom: 17px;
}
.bkg-sidebar .bkg-weibo .bkg-weibo-info .bkg-left {
  float: left;
}
.bkg-sidebar .bkg-weibo .bkg-weibo-info .bkg-right {
  margin-left: 62px;
}
.bkg-sidebar .bkg-weibo .bkg-weibo-info h5 {
  margin: 0px;
  font-size: 18px;
  font-weight: normal;
}
.bkg-sidebar .bkg-weibo .bkg-weibo-info .bkg-weibo-v {
  background-image: url(../img/sidebar/v.png);
  width: 16px;
  height: 13px;
  display: inline-block;
}
.bkg-sidebar .bkg-weibo .bkg-weibo-info p {
  margin-top: 5px;
}
.bkg-sidebar .bkg-weibo .bkg-latest-weibo-content {
  margin-top: 11px;
  line-height: 21px;
}
.bkg-sidebar .bkg-weibo .bkg-latest-weibo-info {
  margin-top: -2px;
}
.bkg-sidebar .bkg-weibo .bkg-latest-weibo-info a {
  margin-top: 4px;
}
.bkg-sidebar .bkg-weibo .bkg-latest-weibo-time {
  color: #a9b2c1;
}
.bkg-sidebar .bkg-weibo .bkg-latest-weibo-comment {
  float: right;
}
.bkg-sidebar .bkg-weibo .bkg-latest-weibo-forward {
  float: right;
  margin-right: 10px;
}
.bkg-sidebar .bkg-news li.bkg-item,
.bkg-sidebar .bkg-mailuo li.bkg-item,
.bkg-sidebar .bkg-tieba li.bkg-item,
.bkg-sidebar .bkg-text li.bkg-item {
  position: relative;
}
.bkg-sidebar .bkg-news li.bkg-item .bkg-circle,
.bkg-sidebar .bkg-mailuo li.bkg-item .bkg-circle,
.bkg-sidebar .bkg-tieba li.bkg-item .bkg-circle,
.bkg-sidebar .bkg-text li.bkg-item .bkg-circle {
  width: 6px;
  height: 6px;
  border-radius: 3px;
  display: inline-block;
  background-color: #0e90fe;
  left: -14px;
  position: absolute;
  top: 6px;
}
.bkg-sidebar .bkg-news li.bkg-item .bkg-title,
.bkg-sidebar .bkg-mailuo li.bkg-item .bkg-title,
.bkg-sidebar .bkg-tieba li.bkg-item .bkg-title,
.bkg-sidebar .bkg-text li.bkg-item .bkg-title {
  display: inline-block;
  color: white;
}
.bkg-sidebar .bkg-news li.bkg-item .bkg-title:hover,
.bkg-sidebar .bkg-mailuo li.bkg-item .bkg-title:hover,
.bkg-sidebar .bkg-tieba li.bkg-item .bkg-title:hover,
.bkg-sidebar .bkg-text li.bkg-item .bkg-title:hover {
  background: transparent;
  color: white;
  text-decoration: underline;
}
.bkg-sidebar .bkg-news {
  margin-bottom: 20px;
}
.bkg-sidebar .bkg-news li.bkg-item {
  margin-bottom: 5px;
  position: relative;
}
.bkg-sidebar .bkg-news li.bkg-item .bkg-news-tail {
  color: #a9b2c1;
  margin-top: -2px;
  height: 18px;
}
.bkg-sidebar .bkg-news li.bkg-item .bkg-news-source {
  float: right;
  color: #a9b2c1;
}
.bkg-sidebar .bkg-news li.bkg-item .bkg-publish-time {
  float: left;
}
.bkg-sidebar .bkg-mailuo {
  margin-bottom: 19px;
}
.bkg-sidebar .bkg-mailuo li.bkg-item {
  margin-bottom: 2px;
}
.bkg-sidebar .bkg-mailuo li.bkg-item .bkg-publish-time {
  display: inline-block;
}
.bkg-sidebar .bkg-mailuo li.bkg-item .bkg-title {
  margin-left: 13px;
}
.bkg-sidebar .bkg-mailuo .bkg-mailuo-title {
  font-size: 16px;
  line-height: 34px;
}
.bkg-sidebar .bkg-works li {
  text-align: center;
  margin: 0 6px 0 0;
  font-size: 13px;
  width: 67px;
  display: inline-block;
  vertical-align: top;
}
.bkg-sidebar .bkg-works li img {
  width: 67px;
  height: 87px;
}
.bkg-sidebar .bkg-works li:nth-child(4n) {
  margin-right: 0;
}
.bkg-sidebar .bkg-works li:nth-child(n + 5) {
  margin-top: 10px;
}
.bkg-sidebar .bkg-works li:hover a {
  text-decoration: underline;
}
.bkg-sidebar .bkg-works a {
  color: white;
  display: inline-block;
  padding: 0;
}
.bkg-sidebar .bkg-works a:hover {
  background: transparent;
}
.bkg-sidebar .bkg-works .bkg-work-title {
  margin-top: 5px;
  display: block;
}
.bkg-sidebar .bkg-tieba .bkg-tieba-info {
  margin-bottom: 5px;
  color: #a9b2c1;
}
.bkg-sidebar .bkg-tieba li.bkg-item {
  margin-bottom: 5px;
  position: relative;
}
.bkg-sidebar .bkg-tieba li.bkg-item .bkg-tieba-tail {
  margin-left: 5px;
  margin-top: -2px;
  color: #a9b2c1;
  height: 18px;
}
.bkg-sidebar .bkg-video li {
  display: inline-block;
  margin: 0 6px 0 0;
}
.bkg-sidebar .bkg-video li:nth-child(4n) {
  margin-right: 0;
}
.bkg-sidebar .bkg-video li:nth-child(n + 5) {
  margin-top: 10px;
}
.bkg-sidebar .bkg-video li a {
  display: inline-block;
  border-radius: 4px;
  padding: 11px 0;
  width: 60px;
  font-size: 13px;
  background-color: #f5f5f5;
  color: #000;
  text-align: center;
}
.bkg-sidebar .bkg-video li a:hover {
  background-color: #02c0fe;
  color: #fff;
}
.bkg-sidebar .bkg-person-vote {
  clear: both;
  margin-top: 10px;
}
.bkg-sidebar .bkg-person-vote .bkg-person-vote-title {
  margin-bottom: 10px;
  font-size: 16px;
}
.bkg-sidebar .bkg-person-vote .bkg-person-vote-title .bkg-vote-icon {
  cursor: pointer;
  display: inline-block;
  margin-left: 20px;
  padding: 7px 0;
  width: 131px;
  font-size: 13px;
  background: #ee504f url(../img/sidebar/vote.gif) no-repeat 10px -36px;
  color: #fff;
  text-align: center;
}
.bkg-sidebar .bkg-person-vote .bkg-person-vote-title .bkg-vote-icon.disable {
  cursor: default;
  background-position: 10px -73px;
}
.bkg-sidebar .bkg-person-vote .bkg-person-vote-default,
.bkg-sidebar .bkg-person-vote .bkg-person-vote-list {
  padding: 5px 0;
  border: 1px solid #797979;
  background-color: #154373;
  text-align: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.bkg-sidebar .bkg-person-vote .bkg-person-vote-default span,
.bkg-sidebar .bkg-person-vote .bkg-person-vote-list span {
  display: inline-block;
  margin-right: 10px;
  width: 73px;
  white-space: nowrap;
}
.bkg-sidebar .bkg-person-vote .bkg-person-vote-default {
  cursor: pointer;
}
.bkg-sidebar .bkg-person-vote .bkg-person-vote-default .arrow {
  display: inline-block;
  width: 18px;
  height: 10px;
  background-image: url(../img/searchbar/arrow-search.png);
}
.bkg-sidebar .bkg-person-vote .bkg-person-vote-default .arrow.hide {
  background-image: url(../img/searchbar/arrow-hidden.png);
}
.bkg-sidebar .bkg-person-vote .bkg-person-vote-list {
  position: absolute;
  opacity: 0.9;
  z-index: 10;
}
.bkg-sidebar .bkg-person-vote .bkg-person-vote-list.hide {
  display: none;
}
.bkg-sidebar .bkg-person-vote .bkg-person-vote-list .pre,
.bkg-sidebar .bkg-person-vote .bkg-person-vote-list .next {
  cursor: pointer;
  display: inline-block;
  width: 18px;
  height: 10px;
}
.bkg-sidebar .bkg-person-vote .bkg-person-vote-list .pre {
  background-image: url(../img/searchbar/arrow-search.png);
}
.bkg-sidebar .bkg-person-vote .bkg-person-vote-list .next {
  background-image: url(../img/searchbar/arrow-hidden.png);
}
.bkg-sidebar .bkg-person-vote .bkg-person-vote-list ul {
  overflow: hidden;
  padding-right: 41px;
  height: 125px;
}
.bkg-sidebar .bkg-person-vote .bkg-person-vote-list ul .bkg-vote-num {
  text-align: right;
}
.bkg-sidebar .bkg-toggle {
  width: 20px;
  height: 84px;
  position: absolute;
  left: -20px;
  top: 50%;
  margin-top: -42px;
  background-image: url(../img/sidebar/toggle-btn.png);
  cursor: pointer;
  color: white;
  font-size: 12px;
  padding-top: 15px;
  text-align: center;
  box-sizing: border-box;
}
/** 顶栏 */
.bkg-headerbar {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  z-index: 1;
  height: 55px;
  color: white;
}
.bkg-headerbar .bkg-bg {
  background-image: url(../img/headerbar/bg.png);
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  height: 73px;
}
.bkg-headerbar h1 {
  position: absolute;
  left: 30px;
  line-height: 55px;
  margin: 0px;
  font-size: 20px;
}
.bkg-headerbar .bkg-share {
  position: absolute;
  top: 16px;
  right: 15px;
  border-radius: 4px;
  background-color: #8EC8F7;
  color: #295280;
  display: inline-block;
  cursor: pointer;
  text-align: center;
  font-size: 14px;
  padding: 2px 10px 2px 28px;
  background-image: url(../img/headerbar/sina.png);
  background-repeat: no-repeat;
  background-position: 3px 50%;
  line-height: 20px;
}
.bkg-headerbar .bkg-share:hover {
  color: #8ec8f7;
  background-color: #295280;
}
.bkg-headerbar .bkg-explore-percent {
  position: absolute;
  right: 100px;
  line-height: 55px;
  height: 55px;
  font-size: 12px;
}
.bkg-headerbar .bkg-explore-percent-bar {
  display: inline-block;
  width: 600px;
  height: 5px;
  margin-top: 30px;
  border-radius: 4px;
  background-color: #86c4f9;
  position: relative;
}
.bkg-headerbar .bkg-explore-percent-bar-inner {
  width: 0px;
  height: 100%;
  border-radius: 4px;
  background-color: white;
  float: left;
  -webkit-transition: width 0.5s ease-in-out;
  -moz-transition: width 0.5s ease-in-out;
  -ms-transition: width 0.5s ease-in-out;
  -o-transition: width 0.5s ease-in-out;
  transition: width 0.5s ease-in-out;
}
.bkg-headerbar .bkg-explore-percent-prefix {
  position: absolute;
  left: -100px;
  font-size: 15px;
}
.bkg-headerbar .bkg-milestone {
  position: absolute;
  top: -2px;
  width: 8px;
  height: 8px;
  border-radius: 10px;
  background-color: white;
}
.bkg-headerbar .bkg-level {
  position: absolute;
  top: 0px;
  bottom: 0px;
}
.bkg-headerbar .bkg-level-icon {
  width: 100%;
  top: 10px;
  height: 28px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}
.bkg-headerbar .bkg-level-title {
  position: absolute;
  width: 100%;
  bottom: 3px;
  color: #78bdf5;
  font-size: 12px;
  text-align: center;
  height: 20px;
  line-height: 20px;
  white-space: nowrap;
}
.bkg-headerbar .bkg-level.bkg-active .bkg-level-title {
  color: #ffffff;
}
.bkg-headerbar .bkg-level-0 .bkg-level-icon {
  background-image: url('../img/headerbar/jiangshifen2.png');
}
.bkg-headerbar .bkg-level-0.bkg-active .bkg-level-icon {
  background-image: url('../img/headerbar/jiangshifen1.png');
}
.bkg-headerbar .bkg-level-1 .bkg-level-icon {
  background-image: url('../img/headerbar/chujifen2.png');
}
.bkg-headerbar .bkg-level-1.bkg-active .bkg-level-icon {
  background-image: url('../img/headerbar/chujifen1.png');
}
.bkg-headerbar .bkg-level-2 .bkg-level-icon {
  background-image: url('../img/headerbar/zhongjifen2.png');
}
.bkg-headerbar .bkg-level-2.bkg-active .bkg-level-icon {
  background-image: url('../img/headerbar/zhongjifen1.png');
}
.bkg-headerbar .bkg-level-3 .bkg-level-icon {
  background-image: url('../img/headerbar/gaojifen2.png');
}
.bkg-headerbar .bkg-level-3.bkg-active .bkg-level-icon {
  background-image: url('../img/headerbar/gaojifen1.png');
}
.bkg-headerbar .bkg-level-4 .bkg-level-icon {
  background-image: url('../img/headerbar/dingjifen2.png');
}
.bkg-headerbar .bkg-level-4.bkg-active .bkg-level-icon {
  background-image: url('../img/headerbar/dingjifen1.png');
}
.bkg-headerbar .bkg-level-5 .bkg-level-icon {
  background-image: url('../img/headerbar/sishengfen2.png');
}
.bkg-headerbar .bkg-level-5.bkg-active .bkg-level-icon {
  background-image: url('../img/headerbar/sishengfen1.png');
}
/**滚动条*/
.bkg-scrollbar-viewport {
  overflow: hidden;
}
.bkg-scrollbar-viewport:focus {
  outline: none;
}
.bkg-scrollbar-viewport .bkg-scrollbar-content {
  position: absolute;
}
.bkg-scrollbar-viewport .bkg-scrollbar-bar-y {
  top: 0px;
  bottom: 0px;
  width: 7px;
  right: 0px;
  position: absolute;
  background-color: #3672aa;
}
.bkg-scrollbar-viewport .bkg-scrollbar-button {
  position: absolute;
  width: 5px;
  left: 1px;
  background-color: #d5ebff;
  border-radius: 10px;
  opacity: 0.6;
}
/* 加载动画 */
.bkg-loading {
  position: absolute;
  z-index: 10;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}
.bkg-loading .bkg-loading-animation {
  width: 180px;
  height: 240px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -90px;
  margin-top: -120px;
  background-repeat: no-repeat;
  background-image: url(../img/loading.png);
}
.bkg-loading .bkg-loading-tip {
  position: absolute;
  bottom: -40px;
  color: white;
  font-size: 20px;
  width: 100%;
  text-align: center;
}
.bkg-mask {
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  background-color: black;
  opacity: 0.5;
  filter: alpha(opacity=50);
}
/* 新手引导 */
.bkg-intro {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 11;
}
.bkg-intro .bkg-tip {
  position: absolute;
  z-index: 12;
}
.bkg-intro .bkg-tip .bkg-close {
  position: absolute;
  right: 20px;
  top: 10px;
  background-image: url(../img/intro/close.png);
  width: 33px;
  height: 37px;
  cursor: pointer;
}
.bkg-intro .bkg-mask {
  /* http://stackoverflow.com/questions/6480774/z-index-problem-in-ie-with-transparent-div */
  filter: alpha(opacity=1);
  opacity: 0.01;
  z-index: 11;
}
.bkg-intro .bkg-next-tip {
  position: absolute;
  bottom: 2px;
  left: 50%;
  width: 98px;
  height: 40px;
  line-height: 40px;
  margin-left: -49px;
  color: white;
  border: none;
  outline: none;
  padding: 0px;
  background-image: url(../img/intro/next-bg.png);
  background-color: transparent;
}
.bkg-intro .bkg-tip-entity {
  width: 262px;
  height: 124px;
  background-image: url(../img/intro/entity.png);
}
.bkg-intro .bkg-tip-circle {
  width: 284px;
  height: 131px;
  background-image: url(../img/intro/circle.png);
}
.bkg-intro .bkg-tip-expand {
  width: 344px;
  height: 121px;
  background-image: url(../img/intro/expand.png);
}
.bkg-intro .bkg-tip-relation {
  width: 343px;
  height: 121px;
  background-image: url(../img/intro/relation.png);
}
.bkg-intro .bkg-tip-sidebar {
  width: 316px;
  height: 152px;
  background-image: url(../img/intro/sidebar.png);
}
.bkg-intro .bkg-tip-sidebar .bkg-next-tip {
  margin-left: -10px;
  margin-bottom: 15px;
}
