html {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
    margin: 0px;
    overflow: hidden;
}

#viewport {
    width: 100%;
    height: 100%;
}

button {
    background-color: purple;
    color: white;
    border-radius: 5px;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #985598;
}

#show-all {
    position: absolute;
    left: 20px;
    top: 20px;
}

#force-layout {
    position: absolute;
    left: 20px;
    top: 60px;
}

#show-all {
    position: absolute;
    left: 20px;
    top: 20px;
}

#save {
    position: absolute;
    left: 20px;
    top: 100px;
}